.plusButton {
	width: 35px;
	height: 35px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	transition: none;

	&:active {
		transform: none;
	}

	> img {
		width: 30px;
		height: 30px;
	}
}
